<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  <title>Add New Secret</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link type="text/css" th:href="@{/css/global.css}" rel="stylesheet"/>
  <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>
  </head>
  <body>
  <div class="d-flex flex-column justify-content-sm-around w-100">
    <div id="modal-container" class="modal-dialog modal-dialog-centered mx-auto">
      <div class="modal-content">
        <h2 class="modal-title">Warning!</h2>
        <div class="modal-body">
          <p><span class="warning-message">Sharing secrets or confessions on this website has potential risks, such as cyberbullying or harassment, exploitation of personal information, or violation of privacy. Users should exercise caution and consider the potential consequences before sharing sensitive information on this platform.</span></p>
          <p>When sharing a secret; be sure it is HR appropriate, have fun, and stay safe!</p>
        </div>
        <button id="close-modal" class="btn btn-lg btn-highlight-sw">Close</button>
      </div>
    </div>
    <form id="form-container" class="pink-glass mx-auto text-center secret-form" th:action="@{/user/saveUserSecret/} + ${user.id}" method="POST">
      <h1 class="secret h4 mb-3 font-weight-normal mr-2">⬇ Personal information that you <span style="color:white">DARE</span> to SHARE ⬇</h1>
      <textarea class="p-2" id="secret" name="secret" placeholder="I never like to say 'cheese' before a picture..." rows="1" cols="75"></textarea>
      <br>
      <div class="text-right mr-5">
        <button type="button" id="modal-trigger" class="btn btn-lg btn-highlight-sw">Read Warning</button>
        <button 
          class="btn btn-lg btn-highlight-s" type="submit">
          Save
        </button>
      </div>
    </form>
  </div>
  <script>
    const modalTrigger = document.querySelector('#modal-trigger');
    const modalContainer = document.querySelector('#modal-container');
    const closeModal = document.querySelector('#close-modal');
    const formContainer = document.querySelector('#form-container');


    modalTrigger.addEventListener('click', () => {
      modalContainer.style.display = 'block';
      formContainer.style.display = 'none';
    });
    closeModal.addEventListener('click', () => {
      modalContainer.style.display = 'none';
      formContainer.style.display = 'block';
    });
  </script>
  </body>
</html>